dev.wangyiyang.cc {
	basic_auth {
		{$REVEN_BASIC_AUTH_USER} {$CADDY_BASIC_AUTH_HASH}
	}

	handle /api/* {
		reverse_proxy reven:8000
	}

	handle {
		root * /srv/reven/current
		try_files {path} /index.html
		file_server
	}
}
